<html layout:decorate="~{global/usrLayout}">

<head>
    <title>회원가입</title>
</head>

<body>
<div layout:fragment="content">
    <h1>회원가입</h1>

    <script>
        function submitJoinForm(form) {

            form.userid.value = form.userid.value.trim();

            if (form.userid.value.length == 0) {
                toastWarning('사용자 ID를 입력해주세요.');
                form.userid.focus();
                return;
            }

            form.username.value = form.username.value.trim();

            if (form.username.value.length == 0) {
                toastWarning('사용자 이름을 입력해주세요.');
                form.username.focus();
                return;
            }

            form.password.value = form.password.value.trim();

            if (form.password.value.length == 0) {
                toastWarning('비밀번호를 입력해주세요.');
                form.password.focus();
                return;
            }

            form.passwordConfirm.value = form.passwordConfirm.value.trim();

            if (form.passwordConfirm.value.length == 0) {
                toastWarning('비밀번호 확인을 입력해주세요.');
                form.passwordConfirm.focus();
                return;
            }

            if (form.password.value != form.passwordConfirm.value) {
                toastWarning('비밀번호가 일치하지 않습니다.');
                form.passwordConfirm.focus();
                return;
            }

            form.userEmail.value = form.userEmail.value.trim();

            // 이메일 형식 검사
            var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailPattern.test(form.userEmail.value)) {
                toastWarning('유효한 이메일 주소를 입력해주세요.');
                form.userEmail.focus();
                return;
            }

            if(fm.image.value.length == 0) {
                alert("업로드 할 파일을 지정해주세요.");
                fm.image.focus();
                return false;
            }

            form.submit();
        }
    </script>

    <form enctype="multipart/form-data" th:action="@{/member/join}" method="POST" onsubmit="submitJoinForm(this); return false;">
        <div>
            <label>사용자 아이디</label>
            <input type="text" name="userid">
        </div>
        <div>
            <label>사용자 이름</label>
            <input type="text" name="username">
        </div>
        <div>
            <label>사용자 이메일</label>
            <input type="text" name="userEmail">
        </div>

        <div>
            <label>비밀번호</label>
            <input type="password" name="password">
        </div>

        <div>
            <label>비밀번호 확인</label>
            <input type="password" name="passwordConfirm">
        </div>

        <div>
            <label>사진</label>
            <input type="file" name="image" size="50" />
        </div>

        <button type="submit">회원가입</button>
    </form>
</div>
</body>

</html>