<html layout:decorate="~{global/usrLayout}">

<head>
    <title th:text="|내글 목록|"></title>
</head>

<body>

<div layout:fragment="content">
    <h1>내글 목록</h1>

    <ul>
        <li th:if="${postPage.content.size() == 0}">
            <p>게시글이 없습니다.</p>
        </li>

        <li th:each="post : ${postPage.content}">
            <a th:href="|/post/${post.id}|">
                <span th:text="${post.id}"></span>
                /
                <span th:text="${post.title}"></span>
                /
                <span th:text="${post.likes != null ? post.likes.size() : 0}"></span>
            </a>
        </li>
    </ul>

    <th:block th:if="${postPage.content.size() > 0}">
        <th:block th:with="queryStrBase = ${@reqData.getCurrentQueryStringWithoutParam('page')}">
            <th:block th:replace="global/fragments/pagination :: pagination(${postPage}, ${queryStrBase}, 1)">
            </th:block>
        </th:block>
    </th:block>
</div>

</body>

</html>
