<!DOCTYPE html>
<html layout:decorate="~{global/usrLayout}">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://static.toss.im/icons/png/4x/icon-toss-logo.png"/>
    <link rel="stylesheet" type="text/css" href="/resource/global/style.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="|토스페이먼츠 결제하기|"></title>
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>

    <script type="text/javascript" th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            const button = document.getElementById("payment-button");
            const coupon = document.getElementById("coupon-box");
            const generateRandomString = () =>
                window.btoa(Math.random()).slice(0, 20);
            var amount = 10000;

            const clientKey = /*[[${apiKey}]]*/ '';
            const customerKey = generateRandomString();
            const paymentWidget = PaymentWidget(clientKey, customerKey);

            // 결제 UI 렌더링
            const paymentMethodWidget = paymentWidget.renderPaymentMethods(
                "#payment-method",
                {value: amount},
                {variantKey: "DEFAULT"}
            );

            // 이용약관 UI 렌더링
            //paymentWidget.renderAgreement("#agreement", {variantKey: "AGREEMENT"});

            // 쿠폰 이벤트 리스너
            coupon.addEventListener("change", function () {
                if (coupon.checked) {
                    paymentMethodWidget.updateAmount(amount - 1000);
                } else {
                    paymentMethodWidget.updateAmount(amount);
                }
            });

            // 결제하기 버튼 이벤트
            button.addEventListener("click", function () {
                paymentWidget.requestPayment({
                    orderId: generateRandomString(),
                    orderName: "토스 티셔츠 외 2건",
                    successUrl: window.location.origin + "/payments/success",
                    failUrl: window.location.origin + "/payments/fail",
                    customerEmail: "customer123@gmail.com",
                    customerName: "김토스",
                    customerMobilePhone: "01012341234",
                });
            });
        });
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="wrapper">
        <div class="box_section" style="padding: 40px 30px 50px 30px;margin-top: 30px;margin-bottom: 50px;">
            <!-- payment-method div 추가 -->
            <div id="payment-method"></div>
            <div id="agreement"></div>
            <div style="padding-left:25px">
                <div class="checkable typography--p">
                    <label for="coupon-box" class="checkable__label typography--regular">
                        <input id="coupon-box" class="checkable__input" type="checkbox" aria-checked="true"/>
                        <span class="checkable__label-text">1,000원 쿠폰 적용</span>
                    </label>
                </div>
            </div>
            <div class="result wrapper">
                <button class="button" id="payment-button" style="margin-top:30px">결제하기</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>